<!DOCTYPE html>
<html lang="es-CL" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout/layout :: head"></head>
  <body>
    <header th:replace="layout/layout :: header"></header>
    <section class="h-100" style="background-color: #eee">
      <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-10">
            <div class="d-flex justify-content-between align-items-center mb-4">
              <h3 class="fw-normal mb-0 text-black">Tu carrito</h3>
            </div>

            <div class="card rounded-3 mb-4" th:each="ci: ${cart.cart_items}">
              <form th:action="@{/cart-item/edit}" method="POST">
                <div class="card-body p-4">
                  <div
                    class="row d-flex justify-content-between align-items-center"
                  >
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img
                        src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img1.webp"
                        class="img-fluid rounded-3"
                        alt="Cotton T-shirt"
                      />
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <p
                        class="lead fw-normal mb-2"
                        th:text="${ci.product.name}"
                      ></p>
                      <p>
                        <span
                          class="text-muted"
                          th:text="'Categoria: ' + ${ci.product.category}"
                        ></span>
                      </p>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <button
                        type="submit"
                        class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                      >
                        <i class="fas fa-minus"></i>
                      </button>

                      <input
                        th:value="${ci.quantity}"
                        id="form1"
                        min="1"
                        th:max="${ci.product.stock}"
                        name="quantity"
                        type="number"
                        readonly
                        class="form-control form-control-sm"
                      />

                      <button
                        type="submit"
                        class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                      >
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h5
                        class="mb-0"
                        th:text=" '$' + ${ci.product.price * ci.quantity} "
                      ></h5>
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <button
                        th:formaction="@{/cart-item/delete}"
                        class="btn btn-outline-danger"
                      >
                        <i class="fas fa-trash fa-lg"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <input
                  name="id_cart_item"
                  type="hidden"
                  th:value="${ci.idCartItem}"
                />
              </form>
            </div>
            <div class="card">
              <div class="card-body">
                <div
                  class="row d-flex justify-content-between align-items-center"
                >
                  <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                    <h5
                      class="mb-0"
                      th:text=" 'Total: $' + ${cart.calculateCartTotal()} "
                    ></h5>
                  </div>
                  <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                    <form th:action="@{${'/sale/create/' + cart.idCart}}" method="post">
                      <input
                        type="hidden"
                        name="cart_id"
                        th:value="${cart.idCart}"
                      />
                      
                      <button 
                        type="submit"
                        class="btn btn-success btn-block btn-lg"
                      >
                        Comprar
                      </button>
                      
                      
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
