<html lang="es-CL" xmlns:th="http://www.thymeleaf.org"><head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<img class="card-img-top" data-src="holder.js/100px400?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x400]" style="height: 400px; width: 100%; display: block;" src="https://http.cat/404" data-holder-rendered="true">

	<div class="container bg-danger text-white border rounded text-center mt-4 py-5">
		<h1>Error 404, página no encontrada!!!</h1>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>

</body></html>