<!DOCTYPE html>
<html lang="es-CL" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	
	<header th:replace="layout/layout :: header"></header>

	<div class="container mt-4">
		<div class="alert alert-danger py-5" th:object="${alumno}" th:remove="tag">
			<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
				<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
			</ul>
		</div>
	
		<form th:action="@{/form}" th:object="${user}" method="POST">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title" th:text="${title}"></h4>
				</div>
				<div class=card-body>
					<div class="mb-3 row">
						<label for="rut" class="col-sm-2 col-form-label">Rut</label>
						<div class="col-sm-10">
							<input th:field="*{rut}" type="text" class="form-control" placeholder="Ej. 12345678-9">
							<small class="form-text text-danger" th:if="${#fields.hasErrors('rut')}" th:errors="*{rut}"></small>
						</div>
					</div>
					<div class="mb-3 row">
						<label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
						<div class="col-sm-10">
							<input th:field="*{name}"  type="text" class="form-control">
							<small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
						</div>
					</div>
					<div class="mb-3 row">
						<label for="apellido" class="col-sm-2 col-form-label">Apellido</label>
						<div class="col-sm-10">
							<input th:field="*{last_name}" type="text" class="form-control">
							<small class="form-text text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
						</div>
					</div>
					<div class="mb-3 row">
						<label for="email" class="col-sm-2 col-form-label">Email</label>
						<div class="col-sm-10">
							<input th:field="*{email}" type="text" class="form-control">
							<small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
						</div>
					</div>
				</div>
				<div class="card-footer text-center">
					<div class="form-group">
						<input type="submit" value="Guardar" class="btn btn-outline-primary" />
						<input type="reset" value="Limpiar" class="btn btn-outline-warning" onclick="this.form.reset();" />
						<a type="button" class="btn btn-outline-secondary" th:href="@{/listar}">Volver</a>
					</div>
				</div>	
			</div>
			<input type="hidden" th:field="*{id_user}">
		</form>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>