<!DOCTYPE html>
<html lang="es-CL" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/layout :: head}"></head>
<body>
	
	<header th:replace="~{layout/layout :: header}"></header>

	<div class="container mt-4">
		<div class="alert alert-danger py-5" th:object="${client}" th:remove="tag">
			<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
				<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
			</ul>
		</div>
	
		<form th:action="@{/user/form}" th:object="${client}" method="POST">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title" th:text="${title}"></h4>
				</div>
				<div class=card-body>
					<div class="mb-3 row">
						<label for="rut" class="col-sm-2 col-form-label">Rut</label>
						<div class="col-sm-10">
							<input th:field="*{rut}" type="text" class="form-control" placeholder="Ej. 12345678-9">
							<small class="form-text text-danger" th:if="${#fields.hasErrors('rut')}" th:errors="*{rut}"></small>
						</div>
					</div>
					<div class="mb-3 row">
						<label for="name" class="col-sm-2 col-form-label">Nombre</label>
						<div class="col-sm-10">
							<input th:field="*{name}"  type="text" class="form-control">
							<small class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
						</div>
					</div>
					<div class="mb-3 row">
						<label for="lastName" class="col-sm-2 col-form-label">Apellido</label>
						<div class="col-sm-10">
							<input th:field="*{lastName}" type="text" class="form-control">
							<small class="form-text text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></small>
						</div>
					</div>
					<div class="mb-3 row" th:hidden="${isEdit}">
						<label for="email" class="col-sm-2 col-form-label">Email</label>
						<div class="col-sm-10">
							<input th:field="*{email}" class="form-control" >
							<small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
						</div>
					</div>
					<div class="mb-3 row" th:hidden="${isEdit}">
						<label for="password" class="col-sm-2 col-form-label">Contraseña</label>
						<div class="col-sm-10">
							<input th:field="*{password}" class="form-control">
							<small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
						</div>
					</div>
					<div class="mb-3 row">
						<label for="authority" class="col-sm-2 col-form-label">Rol</label>
						<div class="col-sm-10">
							<input th:field="*{authority}" type="text" class="form-control">
							<small class="form-text text-danger" th:if="${#fields.hasErrors('authority')}" th:errors="*{authority}"></small>
						</div>
					</div>
					<input th:field="*{idUser}" type="hidden">
				</div>
				
				<div class="card-footer text-center">
					<div class="form-group">
						<input type="submit" value="Guardar" class="btn btn-outline-primary" />
						<input type="reset" value="Limpiar" class="btn btn-outline-warning" onclick="this.form.reset();" />
						<a type="button" class="btn btn-outline-secondary" th:href="@{/user/list}">Volver</a>
					</div>
				</div>	
			</div>
			
		</form>
	</div>

	<footer th:replace="~{layout/layout :: footer}"></footer>
</body>
</html>