<!DOCTYPE html>
<html lang="es-CL" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<main>
		<div class="container mt-4 table-responsive">
			<div class="row mt-4">
				<h1 class="text-primary" th:text="${title}"></h1>
				<div class="col-sm-2">
					<a class="btn btn-outline-primary" th:href="@{/user/new}">Crear nuevo</a>
				</div>
			</div>
			<div class="row mt-4">
				<div th:if="${clients.isEmpty()}" class="alert alert-primary"
					role="alert">No hay usuarios en la lista para mostrar...</div>
				<table th:if="${!clients.isEmpty()}"
					class="table table-bordered table-striped">
					<thead class="table-dark">
						<tr>
							<th>ID</th>
							<th>Rut</th>
							<th>Nombre</th>
							<th>Email</th>
							<th>Rol</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="u: ${clients}">
							<td th:text="${u.idUser}"></td>
							<td th:text="${u.rut}"></td>
							<td th:text="${u.name} + ' ' +${u.lastName}"></td>
							<td th:text="${u.email}"></td>
							<td th:text="${u.authority}"></td>
							<td>
								<a class="btn btn-outline-warning" th:href="@{/user/edit/} + ${u.idUser}">
									<span class="fs-5">
										<i class="fa-solid fa-pen-to-square"></i>
									</span>
								</a>
								<a class="btn btn-outline-danger" th:href="@{/user/delete/} + ${u.idUser}" onclick="return confirm('Estas seguro que deseas eliminar al usuario. Estas acción no se puede deshacer?');">
									<span class="fs-5">
										<i class="fa-solid fa-trash-can"></i>
									</span>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</main>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>