<!DOCTYPE html>
<html lang="es-CL" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/layout :: head}"></head>
<body>
	
	<header th:replace="~{layout/layout :: header}"></header>
		<div class="alert alert-danger py-5" th:object="${client}" th:remove="tag">
			<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
				<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
			</ul>
		</div>
	<div class="container mt-4">
		<div class="col-md-6 shadow border mx-auto">
			<div class="card border-primary text-center">
				<div class="card-header">
					<h3 class="card-title">Complete el formulario de registro</h3>
				</div>
				<div class="card-body">
					<form th:action="@{/signup}" th:object="${client}" method="post">
					
					    <div class="form-group mb-3 col-sm text-start">
					    <label for="email" class="text-start">Correo</label>
							<input th:field="*{email}" type="text" name="email" id="email" class="form-control" placeholder="correo@ejemplo.com" required autofocus/>
							<small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
						</div>
						<div class="form-group mb-3 col-sm text-start">
						<label for="rut" class="text-start">Rut</label>
							<input th:field="*{rut}" type="text" name="rut" id="rut" class="form-control" placeholder="12345678-9" required autofocus/>
							<small class="form-text text-danger" th:if="${#fields.hasErrors('rut')}" th:errors="*{rut}"></small>
						</div>
						<div class="form-group mb-3 col-sm text-start">
						<label for="name" class="text-start">Nombre</label>
							<input th:field="*{name}" type="text" name="username" id="username" class="form-control" placeholder="Nombre" required autofocus/>
							<small class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
						</div>
						<div class="form-group mb-3 col-sm text-start">
						<label for="lastName" class="text-start">Apellido</label>
							<input th:field="*{lastName}" type="text" name="lastName" id="lastName" class="form-control" placeholder="Apellido" required autofocus/>
							<small class="form-text text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></small>
						</div>
						<div class="form-group mb-3 col-sm text-start">
						<label for="password" class="text-start">Contraseña</label>
							<input th:field="*{password}"type="password" name="password" id="password" class="form-control" placeholder="Contraseña" required />
							<small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
						</div>
						
						<div class="form-group mb-3 col-sm">
							<input type="submit" value="Registrarse" class="btn btn-primary btn-lg btn-block" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="~{layout/layout :: footer}"></footer>
</body>
</html>